<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <link href="~/css/site.css" rel="stylesheet" />
    <h1>Scrum Master tool</h1>
    <menu>
        <ul>
            <li><a href="/planning/planning">Planning</a></li>
            <li><a href="/grooming/grooming">Grooming</a></li>
        </ul>
    </menu>
    @RenderBody()
</body>
</html>